p, h1, h2, h3, h4, h5, h6, li, a, img, video, button, span{
  opacity: 1;
  animation: reappear 13s;
  -webkit-animation: reappear 13s;
}

p:hover, h1:hover, h2:hover, h3:hover, h4:hover, h5:hover, h6:hover, li:hover, a:hover, img:hover, video:hover, button:hover, span:hover{
  opacity: 0;
  animation: disappear 0.25s;
  -webkit-animation: disappear 0.25;
}

@keyframes disappear {
  0% {
    opacity: 1;
  }
  100% {
    opacity: 0;
  }
}
@-webkit-keyframes disappear {
  0% {
    opacity: 1;
  }
  100% {
    opacity: 0;
  }
}
@keyframes reappear {
  0% {
    opacity: 0;
  }
  50% {
    opacity: 1;
  }
}
@-webkit-keyframes reappear {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}
