.login-google-btn {
width: 80%;
height: 50px;
display: flex;
color: grey;
padding: 0 20px;
font-size: 16px;
cursor: pointer
}

.login-google-btn span {
    margin-left: 20px;
}

.login-google-btn svg {
    margin-left: 40px;
}

#ProgressChart {
    /* width: 60% !important; */
    /* height: 50% !important; */
}


/* CSS animation */

/* pastel colours  #CCFF99, #FF9999, #CC99FF, #66FFFF */
/* complimentary colours #08b500, #ad00b5, #b50008, #08b500 */
body {
  width: 100wh;
  height: 90vh;
  color: #fff;
  background: linear-gradient(45deg, #8d8825, #cb343c, #89258e, #c334cb, #8d252b, #c9c236 );
  background-size: 400% 400%;
  -webkit-animation: Gradient 155s ease infinite;
  -moz-animation: Gradient 155s ease infinite;
  animation: Gradient 155s ease infinite;
}

@-webkit-keyframes Gradient {
  0% {
    background-position: 0% 0%
  }
  14% {
    background-position: 0% 100%
  }
  28% {
    background-position: 100% 0%
  }
  33% {
    background-position: 100% 100%
  }
  42% {
    background-position: 0% 0%
  }
  59% {
    background-position: 100% 0%
  }
  71% {
    background-position: 0% 100%
  }
  86% {
    background-position: 100% 100%
  }
  100% {
    background-position: 0% 0%
  }
}

@-moz-keyframes Gradient {
  0% {
    background-position: 0% 0%
  }
  14% {
    background-position: 0% 100%
  }
  28% {
    background-position: 100% 0%
  }
  33% {
    background-position: 100% 100%
  }
  42% {
    background-position: 0% 0%
  }
  59% {
    background-position: 100% 0%
  }
  71% {
    background-position: 0% 100%
  }
  86% {
    background-position: 100% 100%
  }
  100% {
    background-position: 0% 0%
  }
}

@keyframes Gradient {
  0% {
    background-position: 0% 0%
  }
  14% {
    background-position: 0% 100%
  }
  28% {
    background-position: 100% 0%
  }
  33% {
    background-position: 100% 100%
  }
  42% {
    background-position: 0% 0%
  }
  59% {
    background-position: 100% 0%
  }
  71% {
    background-position: 0% 100%
  }
  86% {
    background-position: 100% 100%
  }
  100% {
    background-position: 0% 0%
  }
}