$grad1: #000000;
$grad2: #1c304a;
$grad3: #046b99;

/* declaring our own local fonts for use */
@font-face {
  font-family: 'big-bear';
  src: url('/fonts/big-black-bear-italic.otf');
  font-style: normal;
}

@font-face {
  font-family: 'cassette';
  src: url('/fonts/alphabetized-cassette-tapes.ttf');
  font-style: normal;
}

body {
  color: #fff;
  background: linear-gradient(45deg, $grad1, $grad2, $grad3);
  background-size: 100% 100%;
  -webkit-animation: Gradient 155s ease infinite;
  animation: Gradient 120s ease infinite;
}

.container {
  width: 100vw;
  height: 100vh;
  min-width: 970px;
  display: grid;
  grid-template-columns: 1fr 6fr 1fr;
  grid-template-rows: 50px 1fr;

  .ui.menu {
    grid-column: 1 / span 3;
    grid-row: 1 / span 1;
    align-items: start;
    margin-bottom: 0;
  }

  .content-home {
    grid-column: 1 / span 3;
    grid-row: 2;
    display: grid;
    grid-template-columns: 100%;
    overflow: scroll;
    .hero {
      text-align: center;
      font-family: big-bear, sans-serif;
      font-size: 10rem;
      letter-spacing: 0.25rem;
    }
    .info {
      padding: 80px;
      color: white;
      font-size: 30px;
      background-color: rgba(0, 181, 83, 0.15);
      box-shadow: 8px -8px rgba(0, 181, 83, 0.1);
    }
    .extra-info {
      padding: 80px;
      color: white;
      font-size: 26px;
      background-color: rgba(0, 99, 181, 0.15);
      box-shadow: 8px -8px rgba(0, 99, 181, 0.1);
    }
    .description {
      background-color: rgba(0, 181, 173, 0.15);
      padding: 20px;
      box-shadow: 8px -8px rgba(0, 181, 173, 0.1);
    }
    .q-n-a {
      display: flex;
      flex-direction: row;
      padding: 10px;
      margin: 10px;
    }
    .question {
      font-size: 20px;
      width: 30%;
      margin: 10px;
    }
    .answer {
      font-size: 22px;
      width: 70%;
      margin: 10px;
    }
    .status {
      font-family: cassette;
      font-size: 40px;
    }
  }

  .content-profile {
    padding-top: 25px;
    grid-column: 1 / span 3;
    grid-row: 2;
    display: grid;
    grid-template-columns: 1fr 2fr 2fr 2fr 1fr;
    grid-template-rows: repeat(6, 1fr);
    overflow: scroll;
    .profile-card {
      grid-column: 2 / span 1;
      grid-row: 1 / span 2;
      justify-self: center;
      align-self: center;
    }
    .status {
      grid-column: 3 / span 1;
      grid-row: 1 / span 1;
      justify-self: center;
      align-self: center;
      text-align: center;
    }
    .set_goal {
      grid-column: 3 / span 1;
      grid-row: 2 / span 1;
      text-align: center;
      justify-self: center;
      align-self: center;
      width: 200px;
    }
    .semantic {
      grid-column: 4 / span 1;
      grid-row: 1 / span 2;
      justify-content: center;
      font-family: big-bear !important;
      color: white !important;
      letter-spacing: 4px;
    }
    .slabel {
      color: white !important;
    }
    .progress-bar {
      padding-top:10px;
      grid-column: 2 / span 3;
      grid-row: 3 / span 1;
      align-self: start;
      .progress {
        color: white;
        font-size: 16px;
        text-align: center;
        text-shadow: 2px 10px 10px 10px black;
      }
    }
    .canvas {
      grid-column: 2 / span 3;
      grid-row: 4 / span 3;
    }
    .connect {
      grid-column: 2 / span 3;
      grid-row: 4 / span 1;
      justify-self: center;
      align-self: center;
      text-align: center;
    }
  }

  .content-demo {
    grid-column: 2 / span 1;
    grid-row: 2 / span 1;
    .hero {
      text-align: center;
      font-family: big-bear, sans-serif;
      font-size: 10rem;
      letter-spacing: 0.25rem;
    }
    .tagline {
      font-size: 3rem;
    }
    button {
      width: 200px;
      height: 50px;
      font-size: 20px;
    }
  }

  .content-initialize {
    grid-column: 2 / span 1;
    grid-row: 2 / span 1;
    align-self: center;
    .init-goal {
      text-align: center;
      justify-self: center;
    }
  }

  .content-account {
    grid-column: 2 / span 1;
    grid-row: 2;
    align-self: center;

    h2 {
      color: white;
    }

    .login-google-btn {
      width: 100%;
      height: 50px;
      padding: 0 20px;
      font-size: 18px;
      cursor: pointer;

      span {
        color: black;
        margin-left: 60px;
      }

      svg {
        margin-left: 40px;
      }
    }
  }
  #notfound {
    grid-column: 2 / span 1;
    grid-row: 2 / span 1;
    justify-items: center;
    align-self: center;

    .notfound {
      text-align: center;
      h2 {
        font-family: 'Cabin', sans-serif;
        font-size: 20px;
        font-weight: 400;
        text-transform: uppercase;
        color:white;
        margin-top: 0px;
        margin-bottom: 25px;
      }
      .notfound-400 {
        position: relative;
        height: 240px;
        h1 {
          font-family: 'Montserrat', sans-serif;
          position: absolute;
          left: 50%;
          top: 50%;
          -webkit-transform: translate(-50%, -50%);
          -ms-transform: translate(-50%, -50%);
          transform: translate(-50%, -50%);
          font-size: 252px;
          font-weight: 900;
          margin: 0px;
          color: #262626;
          text-transform: uppercase;
          letter-spacing: -40px;
          margin-left: -20px;
          margin-top: 20px;
        }
        h3 {
          font-family: 'Cabin', sans-serif;
          position: relative;
          font-size: 16px;
          font-weight: 700;
          text-transform: uppercase;
          color: white;
          margin: 0px;
          letter-spacing: 3px;
          padding-left: 6px;
        }
      }
    }
  }

  .notfound .notfound-400 h1 > span {
    text-shadow: -8px 0px 0px #fff;
  }
}


@media only screen and (max-width: 767px) {
  .notfound .notfound-400 {
    height: 200px;
  }
  .notfound .notfound-400 h1 {
    font-size: 200px;
  }
}

@media only screen and (max-width: 480px) {
  .notfound .notfound-400 {
    height: 162px;
  }
  .notfound .notfound-400 h1 {
    font-size: 162px;
    height: 150px;
    line-height: 162px;
  }
  .notfound h2 {
    font-size: 16px;
  }
}

/* CSS animation */

/* pastel colours  #CCFF99, #FF9999, #CC99FF, #66FFFF */
/* complimentary colours #08b500, #ad00b5, #b50008, #08b500 */
/* complimentary somewhat unsaturated #8d8825, #cb343c, #89258e, #c334cb, #8d252b, #c9c236 */
/* complimentary saturated ~ 30% #74713e, #a6595d, #713e74, #a259a6, #743e41, #a6a259 */
/* colorbline #f97aff, #bea4bf, #afafaf, #ec99a3, #97aef1, #90aeff, #f08dc4, #ba9bf6, #b69bff */

@keyframes Gradient {
  0% {
    background-position: 20% 20%;
  }
  14% {
    background-position: 20% 80%;
  }
  28% {
    background-position: 80% 20%;
  }
  33% {
    background-position: 80% 80%;
  }
  42% {
    background-position: 20% 20%;
  }
  59% {
    background-position: 80% 20%;
  }
  71% {
    background-position: 20% 80%;
  }
  86% {
    background-position: 80% 80%;
  }
  100% {
    background-position: 20% 20%;
  }
}

@-webkit-keyframes Gradient {
  0% {
    background-position: 20% 20%;
  }
  14% {
    background-position: 20% 80%;
  }
  28% {
    background-position: 80% 20%;
  }
  33% {
    background-position: 80% 80%;
  }
  42% {
    background-position: 20% 20%;
  }
  59% {
    background-position: 80% 20%;
  }
  71% {
    background-position: 20% 80%;
  }
  86% {
    background-position: 80% 80%;
  }
  100% {
    background-position: 20% 20%;
  }
}

input[type='number']::-webkit-inner-spin-button,
input[type='number']::-webkit-outer-spin-button {
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
  margin: 0;
}

.ui.header.white {
  color: white;
}
.ui.form .field > label {
  color: white;
}

.welcome {
  color: rgb(44, 42, 42);
  text-align: center;
}

.label {
  color: white !important;
  font-size: 1.25em !important;
}

.error {
  display: none;
}

.good {
  border-color: green;
}

.google-button {
  height: 40px;
  border-width: 0;
  background: white;
  color: #737373;
  border-radius: 5px;
  white-space: nowrap;
  box-shadow: 1px 1px 0px 1px rgba(0, 0, 0, 0.05);
  transition-property: background-color, box-shadow;
  transition-duration: 150ms;
  transition-timing-function: ease-in-out;
  padding: 0;
}
.google-button:focus,
.google-button:hover {
  box-shadow: 1px 4px 5px 1px rgba(0, 0, 0, 0.1);
}
.google-button:active {
  background-color: #e5e5e5;
  box-shadow: none;
  transition-duration: 10ms;
}

.google-button__icon {
  display: inline-block;
  vertical-align: middle;
  margin: 8px 0 8px 8px;
  width: 18px;
  height: 18px;
  box-sizing: border-box;
}

.google-button__icon--plus {
  width: 27px;
}

.google-button__text {
  display: inline-block;
  vertical-align: middle;
  padding: 0 24px;
  font-size: 14px;
  font-weight: bold;
  font-family: 'Roboto', arial, sans-serif;
}
