$grad1: #000000;
$grad2: #1c304a;
$grad3: #046b99;

/* declaring our own local fonts for use */
@font-face {
  font-family: 'big-bear';
  src: url('/fonts/big-black-bear-italic.otf');
  font-style: normal;
}

@font-face {
  font-family: 'cassette';
  src: url('/fonts/alphabetized-cassette-tapes.ttf');
  font-style: normal;
}

body {
  color: #fff;
  background: linear-gradient(45deg, $grad1, $grad2, $grad3);
  background-size: 100% 100%;
  -webkit-animation: Gradient 155s ease infinite;
  animation: Gradient 120s ease infinite;
}

.nav2-container {
  width: 100%;
  grid-column: 1 / span 3;
  grid-row: 1;
  display: grid;
  grid-template-columns: 1fr 6fr 1fr;
  background: white;

  .nav {
    max-width: 1720px;
    grid-column: 2 / span 1;
    display: grid;
    grid-template-columns: 1fr auto 1fr;
    grid-template-rows: 50px auto;
    align-items: center;

    .burger {
      grid-row: 1;
      grid-column: 1;
      justify-self: start;
      display: none;
    }

    .nav-left {
      grid-row: 1;
      grid-column: 1;
      justify-self: start;
      ul {
        padding: 0;
        list-style: none;
        li {
          display: inline;
          a {
            padding-right: 20px;
          }
        }
      }
    }
    .nav-middle {
      color: black;
      grid-column: 2;
      grid-row: 1;
      justify-self: center;
      h2 {
        font-family: big-bear, sans-serif;
        letter-spacing: 2px;
      }
    }
    .nav-right {
      color: black;
      grid-column: 3;
      grid-row: 1;
      justify-self: end;
    }
  }
  @media screen and (max-width: 768px) {
    .nav {
      .burger {
        display: block;
      }
      .nav-left {
        grid-row: 2;
        grid-column: 1 / span 1;
        justify-self: start;
        text-align: start;
        display: none;
        ul {
          li {
            display: block;
            a {
              padding: 0;
            }
          }
        }
      }
      .nav-right {
        display: none;
      }
    }
  }
}
.container {
  width: 100vw;
  height: 100vh;
  display: grid;
  grid-template-columns: 1fr;
  grid-template-rows: auto 1fr;

  .ui.menu {
    grid-row: 1 / span 1;
    align-items: start;
    margin-bottom: 0;
  }

  .content-home {
    grid-row: 2;
    display: grid;
    grid-template-columns: 1fr;
    height: 100%;
    overflow: auto;
    .hero {
      text-align: center;
      font-family: big-bear, sans-serif;
      font-size: calc(0.5em + 5vw);
      letter-spacing: 0.25rem;
      padding-top: 20px;
    }
    .info {
      padding: 80px;
      color: white;
      font-size: calc(1.25em + 0.75vw);
      background-color: rgba(0, 181, 83, 0.15);
      box-shadow: 8px -8px rgba(0, 181, 83, 0.1);
    }
    .extra-info {
      padding: 80px;
      color: white;
      font-size: calc(1.25em + 0.6vw);
      background-color: rgba(0, 99, 181, 0.15);
      box-shadow: 8px -8px rgba(0, 99, 181, 0.1);
    }
    .description {
      background-color: rgba(0, 181, 173, 0.15);
      padding: 20px;
      box-shadow: 8px -8px rgba(0, 181, 173, 0.1);
    }
    .q-n-a {
      display: flex;
      flex-direction: row;
      padding: 10px;
      margin: 10px;
      span {
        line-height: 25px;
      }
    }
    .question {
      font-size: calc(1.25em + 0.5vw);
      width: 30%;
      margin: 10px;
    }
    .answer {
      font-size: calc(1.25em + 0.55vw);
      width: 70%;
      margin: 10px;
    }
    .status {
      font-family: cassette;
      font-size: calc(1.5em + 1vw);
    }
  }

  .content-demo {
    grid-row: 2 / span 1;
    text-align: center;
    justify-items: center;
    .hero {
      margin: 0;
      font-family: big-bear, sans-serif;
      font-size: calc(3em + 3vw);
      letter-spacing: 0.25rem;
    }
    .tagline {
      margin: 14px 0;
      font-size: calc(1em + 1vw);
    }
    ul {
      list-style: none;
      padding: 50px 0;
      li {
        padding: 20px 0;
      }
    }
    button {
      width: 200px;
      height: 50px;
      font-size: 20px;
    }
  }

  .content-initialize {
    grid-row: 2 / span 1;
    align-self: center;
    .init-goal {
      text-align: center;
      justify-self: center;
    }
  }

  .content-account {
    grid-row: 2;
    align-self: center;

    h2 {
      color: white;
    }

    .login-google-btn {
      width: 100%;
      height: 50px;
      padding: 0 20px;
      font-size: 18px;
      cursor: pointer;

      span {
        color: black;
        margin-left: 60px;
      }

      svg {
        margin-left: 40px;
      }
    }
  }

  .leaderboard {
    grid-row: 2 / span 1;
    height: 92vh;
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    grid-template-rows: 125px 50px auto auto;
    padding: 0 20px;
    h1 {
      grid-column: 1 / span 4;
      grid-row: 1 / span 1;
      justify-self: center;
      font-family: big-bear, sans-serif;
      font-size: calc(2em + 4vw);
      letter-spacing: 0.25rem;
      margin-bottom: 0;
    }
    .leader-header {
      grid-column: 1 / span 4;
      grid-row: 2 / span 1;
      margin-bottom: 30px;
      ul {
        list-style: none;
        display: grid;
        grid-template-columns: 1fr 2fr repeat(2, 1fr);
        border-bottom: 1px solid gray;
        padding-bottom: 15px;
        align-items: center;
        justify-items: start;
        padding-left: 50px;
        .rank-header {
          grid-column: 1;
        }
        .name-header {
          grid-column: 2;
        }
        .points-header {
          grid-column: 3;
        }
        .steps-header {
          grid-column: 4;
        }
      }
    }

    .users {
      grid-column: 1 / span 4;
      grid-row: 3 / span 1;
      overflow: auto;
      .user {
        grid-column: 2 / span 1;
        ul {
          list-style: none;
          display: grid;
          grid-template-columns: 1fr 2fr repeat(2, 1fr);
          border-bottom: 1px solid gray;
          justify-items: start;
          padding-left: 50px;
          align-items: center;
          padding-bottom: 15px;
          font-size: 12px;
          .rank {
            grid-column: 1;
          }
          .name {
            grid-column: 2;
          }
          .points {
            grid-column: 3;
          }
          .steps {
            grid-column: 4;
          }
        }
      }
    }

    .pagination {
      grid-column: 1 / span 4;
      grid-row: 4 / span 1;
      justify-self: center;
    }
  }
  .friends-container {
    grid-row: 2 / span 1;
    overflow: auto;

    h1 {
      font-family: big-bear, sans-serif;
      font-size: calc(1.5em + 4vw);
      letter-spacing: 0.25rem;
      margin-bottom: 0;
      text-align: center;
      position: sticky;
    }
    ul {
      margin-left: 16%;
      width: 72%;
      list-style: none;
      padding: 0;
      li {
        display: inline-block;
        margin: 10px;
        width: 225px;
        background: rgb(232, 241, 242);
        box-shadow: 0 14px 28px rgba(0, 0, 0, 0.25), 0 10px 10px rgba(0, 0, 0, 0.22);
        text-align: center;
        font-size: 18px;
        color: #07101d;
        border-radius: 20%;
        .friend-image {
          background: rgb(232, 241, 242);
          border-radius: 30%;
          img {
            border-radius: 50%;
          }
        }
      }
    }
  }

  .user-container {
    text-shadow: 2px 2px 1px rgba(0, 0, 0, 0.3);
    padding-top: 25px;
    grid-column: 1 / span 3;
    grid-row: 2;
    display: grid;
    grid-template-columns: 1fr 3fr 3fr 1fr;
    grid-template-rows: repeat(7, auto);
    gap: 1em;
    overflow: scroll;

    .profile-card {
      border: 1px solid rgba(255, 255, 255, 0.15);
      width: 100%;
      grid-column: 2 / span 2;
      grid-row: 1 / span 2;
      padding: 20px;
      text-align: center;
      .add-friend {
        padding-top: 15px;
      }
      img {
        max-width: 200px;
        background: #fff;
        border-radius: 50%;
        box-shadow: 2px 4px 3px rgba(0, 0, 0, 0.05);
      }
      h3 {
        margin: 0;
      }
      p {
        margin: 0;
      }
    }
    .info {
      border: 1px solid rgba(255, 255, 255, 0.15);
      grid-column: 2 / span 1;
      grid-row: 3 / span 1;
      display: grid;
      align-content: center;
      .stats {
        padding: 20px 0;
        justify-content: center;
        ul {
          display: flex;
          justify-content: center;
          list-style: none;
          text-align: center;
          align-items: center;
          padding: 0;
          margin: 0 5%;
          // border: 1px solid rgba(255, 255, 255, 0.15);
          li {
            flex-grow: 0;
            flex-shrink: 1;
            width: 50%;
            padding: 10px;
            font-weight: bold;
            h2 {
              margin: 0;
            }
            p {
              border-top: 1px solid rgba(255, 255, 255, 0.15);
              padding-top: 5px;
              margin-top: 5px;
            }
          }
        }
      }
    }
    .extra-stats {
      border: 1px solid rgba(255, 255, 255, 0.15);
      grid-column: 2 / span 1;
      grid-row: 4 / span 2;
      display: grid;
      grid-template-columns: 1fr;
      grid-template-rows: 1fr;
      align-items: center;
      text-align: center;
      padding: 20px;
      .value {
        font-family: big-bear !important;
        font-size: 2rem !important;
        color: white !important;
        letter-spacing: 4px;
      }
      .set_goal {
        padding-top: 20px;
        justify-self: center;
        width: 60%;
      }
    }
    .user-logs {
      grid-column: 3 / span 1;
      grid-row: 3 / span 3;
      border: 1px solid rgba(255, 255, 255, 0.15);
      height: 100%;
      width: 100%;
      .user-log {
        padding: 20px;
        h1 {
          text-align: center;
        }
        ul {
          list-style: none;
          padding-left: 0;
          margin: 0 5%;
          li {
            border-bottom: 1px solid rgba(255, 255, 255, 0.15);
            font-size: 14px;
            padding: 7px 0;
          }
        }
      }
    }
    .connect {
      grid-column: 3 / span 1;
      grid-row: 3 / span 3;
      display: grid;
      border: 1px solid rgba(255, 255, 255, 0.15);
      justify-items: center;
      h4 {
        align-self: end;
      }
      .google-button {
        align-self: start;
      }
    }

    .progress-bar {
      grid-column: 2 / span 2;
      grid-row: 6 / span 1;
      border: 1px solid rgba(255, 255, 255, 0.15);
      align-self: center;
      padding: 15px;
      .progress-msg {
        color: white;
        font-size: 14px;
        text-align: center;
      }
    }
    .canvas {
      grid-column: 2 / span 2;
      grid-row: 7;
      justify-self: center;
      align-self: center;
      height: 350px;
      width: 100%;
    }
  }

  @media screen and (max-width: 768px) {
    .content-account {
      .login-google-btn {
        span {
          margin-left: 10px;
        }
      }
    }
    .leaderboard {
      grid-template-rows: 75px 50px auto auto;
      .leader-header ul {
        padding-left: 0px;
      }

      .users {
        padding-top: 20px;
        .user ul {
          padding-left: 0px;
        }
      }
    }
  }

  #notfound {
    grid-column: 1 / span 3;
    grid-row: 2 / span 1;
    justify-items: center;
    align-self: center;

    .notfound {
      text-align: center;
      h2 {
        font-family: 'Cabin', sans-serif;
        font-size: 20px;
        font-weight: 400;
        text-transform: uppercase;
        color: white;
        margin-top: 0px;
        margin-bottom: 25px;
      }
      .notfound-400 {
        position: relative;
        height: 240px;
        h1 {
          font-family: 'Montserrat', sans-serif;
          position: absolute;
          left: 50%;
          top: 50%;
          -webkit-transform: translate(-50%, -50%);
          -ms-transform: translate(-50%, -50%);
          transform: translate(-50%, -50%);
          font-size: 252px;
          font-weight: 900;
          margin: 0px;
          color: #262626;
          text-transform: uppercase;
          letter-spacing: -40px;
          margin-left: -20px;
          margin-top: 20px;
        }
        h3 {
          font-family: 'Cabin', sans-serif;
          position: relative;
          font-size: 16px;
          font-weight: 700;
          text-transform: uppercase;
          color: white;
          margin: 0px;
          letter-spacing: 3px;
          padding-left: 6px;
        }
      }
    }
  }

  .notfound .notfound-400 h1 > span {
    text-shadow: -8px 0px 0px #fff;
  }
}

@media only screen and (max-width: 767px) {
  .notfound .notfound-400 {
    height: 200px;
  }
  .notfound .notfound-400 h1 {
    font-size: 200px;
  }
}

@media only screen and (max-width: 480px) {
  .notfound .notfound-400 {
    height: 162px;
  }
  .notfound .notfound-400 h1 {
    font-size: 162px;
    height: 150px;
    line-height: 162px;
  }
  .notfound h2 {
    font-size: 16px;
  }
}

/* CSS animation */

/* pastel colours  #CCFF99, #FF9999, #CC99FF, #66FFFF */
/* complimentary colours #08b500, #ad00b5, #b50008, #08b500 */
/* complimentary somewhat unsaturated #8d8825, #cb343c, #89258e, #c334cb, #8d252b, #c9c236 */
/* complimentary saturated ~ 30% #74713e, #a6595d, #713e74, #a259a6, #743e41, #a6a259 */
/* colorbline #f97aff, #bea4bf, #afafaf, #ec99a3, #97aef1, #90aeff, #f08dc4, #ba9bf6, #b69bff */

@keyframes Gradient {
  0% {
    background-position: 20% 20%;
  }
  14% {
    background-position: 20% 80%;
  }
  28% {
    background-position: 80% 20%;
  }
  33% {
    background-position: 80% 80%;
  }
  42% {
    background-position: 20% 20%;
  }
  59% {
    background-position: 80% 20%;
  }
  71% {
    background-position: 20% 80%;
  }
  86% {
    background-position: 80% 80%;
  }
  100% {
    background-position: 20% 20%;
  }
}

@-webkit-keyframes Gradient {
  0% {
    background-position: 20% 20%;
  }
  14% {
    background-position: 20% 80%;
  }
  28% {
    background-position: 80% 20%;
  }
  33% {
    background-position: 80% 80%;
  }
  42% {
    background-position: 20% 20%;
  }
  59% {
    background-position: 80% 20%;
  }
  71% {
    background-position: 20% 80%;
  }
  86% {
    background-position: 80% 80%;
  }
  100% {
    background-position: 20% 20%;
  }
}

input[type='number']::-webkit-inner-spin-button,
input[type='number']::-webkit-outer-spin-button {
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
  margin: 0;
}

.ui.header.white {
  color: white;
}
.ui.form .field > label {
  color: white;
}

.welcome {
  color: rgb(44, 42, 42);
  text-align: center;
}

.label {
  color: white !important;
  font-size: 1.25em !important;
}

.error {
  display: none;
}

.good {
  border-color: green;
}

.google-button {
  height: 40px;
  border-width: 0;
  background: white;
  color: #737373;
  border-radius: 5px;
  white-space: nowrap;
  box-shadow: 1px 1px 0px 1px rgba(0, 0, 0, 0.05);
  transition-property: background-color, box-shadow;
  transition-duration: 150ms;
  transition-timing-function: ease-in-out;
  padding: 0;
}
.google-button:focus,
.google-button:hover {
  box-shadow: 1px 4px 5px 1px rgba(0, 0, 0, 0.1);
}
.google-button:active {
  background-color: #e5e5e5;
  box-shadow: none;
  transition-duration: 10ms;
}

.google-button__icon {
  display: inline-block;
  vertical-align: middle;
  margin: 8px 0 8px 8px;
  width: 18px;
  height: 18px;
  box-sizing: border-box;
}

.google-button__icon--plus {
  width: 27px;
}

.google-button__text {
  display: inline-block;
  vertical-align: middle;
  padding: 0 24px;
  font-size: 14px;
  font-weight: bold;
  font-family: 'Roboto', arial, sans-serif;
}
